*{
    padding: 0;
    margin: 0;
}
ul{
    margin-bottom: 1rem;
    padding: 1em 2em;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid grey;
}
ul:hover{
    border: 2px solid blue;
}
body{
    background-color: #53affb;
    margin: 1rem;
}