body{
  background-color: black;
  color: whitesmoke;
}

.box1{
  background-color: cadetblue;
  padding: 2rem;
}

.box2{
  background-color: blue;
  padding: 2rem;
}

.box3{
  background-color: blueviolet;
  padding: 2rem;
}

.box4{
  background-color: darkslateblue;
  padding: 2rem;
}